@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.topbar-container{    
    background-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 90;
    padding: 1em 4.875em;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.categories-container{
    font-size: 14px;
    margin: 0 10px;
    margin-left: 30px;
    padding: 12px 10px;
}
.topbar a i{
    margin-left: 8px;
} 
.topbar-sections{
    display: flex;
    align-items: center;
    height: 100%;
}
.logo>div{
    font-size: 2.1em;
    width: 140px;
    color: #0084ff;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: -.9px;
    text-align: left;
}
.dropdown{
    min-width: 225px;
    max-height: 335px;
    font-size: 16px;
    line-height: 1em;
    padding: .5em;
    background-color: #fff;
    box-shadow: 0 1px 8px rgb(0 0 0 / 50%);
    border-radius: 4px;
    position: absolute;
    bottom: -330px;
    z-index: 100;
}
.dropdown a{
    display: block;
    padding: 8px 16px;
    color: rgba(0,0,0,.6);
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: .9px;
}
.dropdown a:first-child{
    position: relative;
}
.arrow{
    display: block;
    width: 12px;
    height: 12px;
    transform: rotateZ(45deg);
    background-color: #fff;
    position: absolute;
    top: -5px;
    right: 90px;
}
.logo>p{
    font-size: 1em;
    font-weight: 500;
    opacity: 0.8;
    font-style: italic;
    font-stretch: normal;
    line-height: .8;
    letter-spacing: .9px;
}
.button{
    font-size: 0.75em;
    padding: 0.5em 2em;
    margin-right: 3.5em;
    min-width: 136px;
    height: 42px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: #fff;
    outline: none;
    font-weight: 600;
    letter-spacing: .03em;
    background: #0084ff;
    background: linear-gradient(269deg,#0048ff,#0096ff);
}
.edyoda-description{
    min-width: 23em;
    opacity: .6;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .4px;
    color: rgba(0,0,0,.6);
}